name: Scheil tests

on: [push]

jobs:
  Tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 100
      matrix:
        python-version: [3.7, 3.8, 3.9]
        pycalphad_develop_version: [true, false]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  # fetch the entire repo history, required to guarantee versioneer will pick up the tags
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: python -m pip install -U pip setuptools pytest
    - name: Install pycalphad development version
      if: matrix.pycalphad_develop_version
      run: |
        git clone https://github.com/pycalphad/pycalphad pycalphad-dev
        cd pycalphad-dev
        git checkout develop
        python -m pip install -r requirements-dev.txt
        python -m pip install --no-build-isolation .
        cd ..
        python -c 'import pycalphad; print(f"pycalphad version: {pycalphad.__version__}")'
    - run: python -m pip install --editable .
    - run: python -m pip list
    - run: python -m pytest -s -v --doctest-modules scheil tests -k test_equilibrium_solidification_result_properties
